@model IEnumerable<hrmApp.Web.DTO.ProjectDTO>

@{
    Layout = "Layout/_LayoutTable";
    ViewData["Title"] = "Projekt";
    ViewData["CardHeaderName"] = ViewData["Title"] + " létrehozás";
    ViewData["PageHeaderName"] = ViewData["Title"] + " kezelés";
    ViewData["CreateButton"] = true;
}

<div class="card-body">
    <table id="hrmTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProjectName)</th>
                <th>@Html.DisplayNameFor(model => model.NumberOfEmployee)</th>
                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumberOfEmployee)</td>
                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                    <td class="align-middle">
                        <div class="row justify-content-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id"
                                data-toggle="tooltip" title="Szerkesztés">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id"
                                data-toggle="tooltip" title="Részletek">
                                    <i class="fas fa-file-alt"></i>
                                </a>
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id"
                                data-toggle="tooltip" title="Törlés">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- /.table-responsive -->
</div>
<!-- /.card-body -->

<!-- Init Tables -->
@section InitTableScripts {
<partial name="_InitDataTablesScript" />
}